/* #region Common Rules */

:root {
    --clr-white: #FFFFFF;
    --clr-black: #000000;
    --clr-primary: #0061FF;
    --clr-banner: #B4D0E7;
    --clr-border-grid: #EDEDEE;
    --clr-azzurro: #0093CE;
    --clr-blu: #0D2481;
    --clr-magenta: #61082B;
    --clr-verde: #A2D39B;
    --clr-grigio: #B4D0E7;
    --clr-rosso: #D5001F;
    --clr-arancione: #FF1C1C;
    --clr-giallo: #FFD830;
    --clr-lighter_gray: #F5F5F5;
    --clr-color-title-trial: #61082B;

    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container {
    width: 55%;
    margin: 0 auto;
}

.main_row {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
}


/* #endregion Common Rules */

/* #region Utilities */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn {
    color: var(--clr-white);
    background-color: var(--clr-primary);
    padding: 0.3rem 0.75rem;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
}

.total_borded {
    border: 1px solid var(--clr-border-grid);
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.underlined {
    text-decoration: underline;
    color: var(--clr-primary);
}



/* #endregion Utilities */

/* #region Header-Navbar */

header {
    width: 100%;
    position: fixed;
    box-shadow: var(--light-shadow);
    z-index: 100;
}

nav {
    background: var(--clr-white);
    text-align: center;
}

.nav_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links,
.links li {
    display: inline-block;
}

.links li,
header img {
    vertical-align: middle;
    padding: 0.6rem;
}

.links a {
    color: var(--clr-black);
    vertical-align: middle;
}

.links li {
    border: 2px solid transparent;
}

.links .border_botton_marked:hover {
    border-bottom: 2px solid black;
}


nav .btn {
    margin-right: 0.6rem;
}

header img {
    width: 75px;
}

/* #endregion Header-Navbar */

/* #region Main */


/*
=============== 
BANNER
===============
*/

.banner {
    background-color: var(--clr-banner);
    padding-top: 7.25rem;
    padding-bottom: 0.75rem;
}

.container_banner,
.container_footer {
    width: 65%;
    margin: auto;
}

article {
    position: relative;

}

.banner img {
    position: absolute;
    left: 30%;
    width: 70%;
}

.banner .text {
    width: 30%;
}


.banner h1 {
    font-size: 45px;
    padding-bottom: 2.5rem;
}

.text .btn {
    margin: 1.2rem 0;
}

.text i {
    font-size: 1.75rem;
    margin-top: 2.75rem;
}

/*
=============== 
GRID
===============
*/

.grid {
    padding-top: 5.5rem;
    background-color: var(--clr-white);
}

.grid form {
    margin-top: 2.5rem;
    margin-bottom: 1.75rem;
}

form * {
    vertical-align: middle;
}

form label {
    margin-right: 1.6rem;
}

.grid .col-4 {
    border: 1px solid var(--clr-border-grid);
}

.users {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid var(--clr-border-grid);
}

.contenuto_colonna {
    padding: 0.9rem;
}


.list,
.punti_salienti {
    margin-top: 1.5rem;
}

.type *,
.punti_salienti *,
.list *,
.punti_salienti * {
    margin: 0.3rem 0;
}

.grid ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -0.5em;
}

.grid .button_align {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.grid .btn {
    width: 100%;
}

.punti_salienti i {
    color: var(--clr-primary);
}

.gray_line {
    width: 20%;
    border: 0.5px solid var(--clr-border-grid);
    margin: 1.5rem 0;
}


.grid .borderless {
    border: none;
}

.users.total_borded {
    margin-top: 2.5rem;
    border-bottom: none;
}

.col-8 p {
    margin-top: 2.5rem;
}

/*
=============== 
MEET
===============
*/
.meet {
    padding-top: 5.5rem;
}

.btn_meet {
    background-color: var(--clr-white);
    color: var(--clr-black);
    border-top: 1px solid var(--clr-border-grid);
    border-right: 1px solid var(--clr-border-grid);
    border-bottom: 1px solid var(--clr-black);
    border-left: 1px solid var(--clr-black);
    margin: 1.2rem 0;
}

/*
=============== 
OPERATION_DROPBOX_BUSINESS
===============
*/
.operation_dropbox_business {
    padding-top: 5.5rem;
}

.operation_dropbox_business .main_row {
    flex-wrap: wrap;
    gap: 0;
    margin-top: 2rem;
}

.operation_dropbox_business .col-4 {
    padding: 0.4rem;
}

/*
=============== 
DROPBOX_COLABORATION
===============
*/
.dropbox_colaboration {
    padding-top: 5.5rem;
}

.dropbox_colaboration a {
    display: block;
    margin-top: 2.5rem;
}


.container_flex {
    display: flex;
    margin-top: 3.5rem;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.wrap>div {
    width: 50%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap img {
    width: 40%;
    filter: invert();
}

.grow {
    padding: 2rem;
    background-color: var(--clr-lighter_gray);
}

.grow img {
    width: 40%;

}

#color_verde {
    background-color: var(--clr-verde);
}

#color_magenta {
    background-color: var(--clr-magenta);
}

#color_azzurro {
    background-color: var(--clr-azzurro);
}

#color_arancione {
    background-color: var(--clr-arancione);
}

#color_rosso {
    background-color: var(--clr-rosso);
}

#color_grigio {
    background-color: var(--clr-grigio);
}

#color_blu {
    background-color: var(--clr-blu);
}

#color_giallo {
    background-color: var(--clr-giallo);
}
/*
=============== 
DROPBOX_FREE_TRIAL
===============
*/
.dropbox_free_trial .main_row{
    justify-content: space-between;
}
.dropbox_free_trial{
    padding: 3rem 0;
    background-color: var(--clr-grigio);
}

.dropbox_free_trial h2{
    color: var(--clr-color-title-trial);
}
.btn_free_trial{
    background-color: var(--clr-white);
    color: var(--clr-black);
}
.dropbox_free_trial .col-4{
padding: 0.5rem;
text-align: center;
}
/*
=============== 
COMMON QUESTIONS
===============
*/
.common_questions h2{
    margin-bottom: 2rem;
}
.common_questions {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
    
}
.common_questions .main_container{
    border-bottom: 1px solid var(--clr-black);
    
}
.question{
    border-top: 1px solid var(--clr-black);

    padding: 1.5rem 0;
    
    vertical-align: middle;
}
 .question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
 }
 .common_questions p{
    display: none;
 }
 .common_questions span{
    margin-right: 1.5rem;
 }
 .question_text:hover p{
    display: block;
    margin-top: 1rem;
 }
 .question_text:hover span{
    display: none;
 }
 

/* #endregion Main */

/* #region Footer */
footer{
    background-color: var(--clr-black);
    color: var(--clr-white);
}
footer a{
    text-decoration: none;
    color: var(--clr-white);
    display:block;
    margin: 0.5rem 0;
}
.container_footer{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
footer h4{
    margin-bottom: 1.5rem;
}
footer .main_row{
    justify-content: space-between;
    margin-bottom: 4rem;
}
.lenguage *{
    margin-right: 0.2rem;
    vertical-align: middle;
}
footer .gray_line{
    width: 10%;
}
/* #endregion Footer */

/* #region Grid Flexbox */
.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);

}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

/* #endregion Grid Flexbox */