/* #region Common Rules */


:root {
    --clr-white: #FFFFFF;
    --clr-black: #000000;
    --clr-primary: #0061FF;
    --clr-banner: #B4D0E7;
    --clr-border-grid: #EDEDEE
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container {
    width: 55%;
    margin: 0 auto;
}

.main_row {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
}



/* #endregion Common Rules */

/* #region Utilities */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn {
    color: var(--clr-white);
    background-color: var(--clr-primary);
    padding: 0.3rem 0.75rem;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
}

/* #endregion Utilities */

/* #region Header-Navbar */

header {
    width: 100%;
    position: fixed;
}

nav {
    background: var(--clr-white);
    text-align: center;
}

.nav_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links,
.links li {
    display: inline-block;
}

.links li,
header img {
    vertical-align: middle;
    padding: 0.6rem;
}

.links a {
    color: var(--clr-black);
    vertical-align: middle;
}

.links li {
    border: 2px solid transparent;
}

.links .border_botton_marked:hover {
    border-bottom: 2px solid black;
}


nav .btn {
    margin-right: 0.6rem;
}

header img {
    width: 75px;
}

/* #endregion Header-Navbar */

/* #region Main */


/*
=============== 
BANNER
===============
*/

.banner {
    background-color: var(--clr-banner);
    padding-top: 7.25rem;
    padding-bottom: 0.75rem;
}

.container_banner {
    width: 65%;
    margin: auto;
}

.banner img {
    position: absolute;
    left: 30%;
    width: 70%;
}

.banner h1 {
    font-size: 44px;
    padding-bottom: 2.5rem;
}

.text .btn {
    margin: 1.2rem 0;
}

.text i {
    font-size: 1.75rem;
    margin-top: 2.75rem;
}
article{
    position: relative;

}
.banner .text{
    width: 30%;
}



/*
=============== 
GRID
===============
*/

.grid {
    padding-top: 5.5rem;
    background-color: var(--clr-white);
}

.grid form {
    margin-top: 2.5rem;
    margin-bottom: 1.75rem;
}

form * {
    vertical-align: middle;
}

form label {
    margin-right: 1.6rem;
}

.grid .row {
    justify-content: space-between;
}

.grid .col-4 {
    border: 1px solid var(--clr-border-grid);
}

.users {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid var(--clr-border-grid);
}

.contenuto_colonna {
    padding: 0.9rem;
}

.grid h2 {
    font-size: 1.5rem;
}
.list, .punti_salienti{
    margin-top: 1.5rem;
}

.type *, .punti_salienti *,
.list *, .punti_salienti * {
    margin: 0.3rem 0;
}
.grid ul{
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -0.5em;
}
.grid .button_align{
text-align: center;
margin-top: 1.5rem;
margin-bottom: 1rem;
}
.grid .btn{
    width: 100%;
}
.punti_salienti i{
    color: var(--clr-primary);
}
.gray_line{
    width: 1.7rem;
    border: 0.5px solid var(--clr-border-grid);
    margin-top: 1.5rem;
}
.grid a{
    text-decoration: underline;
    color: var(--clr-primary);
}
.grid h3{
    font-size: 1rem;
}



/* #endregion Main */

/* #region Footer */

/* #endregion Footer */

/* #region Grid Flexbox */
.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);

}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

/* #endregion Grid Flexbox */