/* #region Common Rules */


:root {
    --clr-white: #FFFFFF;
    --clr-black: #000000;
    --clr-btn-nav: #0061FF;
    --clr-banner: #B4D0E7;
    

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
} */

.row {
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* #endregion Common Rules */

/* #region Utilities */
ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }


/* #endregion Utilities */

/* #region Header-Navbar */

nav{
display: fixed;
background: var(--clr-white);

}
.nav_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links, .links li{
    display: inline-block;
}

.links li, header img{
    vertical-align: middle;
    padding: 1rem; 
}
.links a {
    color: var(--clr-black);
    font-size: 0.95rem;

  }
  .links li{
    border: 2px solid transparent;
  }

  .links li:hover {
    border-bottom: 2px solid black;
  }
  .btn{
    color: var(--clr-white);
    background-color: var(--clr-btn-nav);
    padding: 0.4rem 0.75rem;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.95rem;
  }

/* #endregion Header-Navbar */

/* #region Main */



/* #endregion Main */

/* #region Footer */

/* #endregion Footer */

/* #region Grid Flexbox */
.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);

}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

/* #endregion Grid Flexbox */